In [42]:
import pandas as pd
import csv
import psycopg2 as ps
from datetime import datetime, timedelta
from sqlalchemy import create_engine, text
import json

In [75]:
table_name="metatable30052023"
df = pd.read_csv(table_name+'.csv')

In [13]:
z=df.to_dict()

In [23]:
streams=list(set(z["stream"].values()))

In [53]:
people_dict={}
for i in z["metadata"]:
    data,idn,stream = [z["metadata"][i],str(z["tracking_id"][i]),z["stream"][i]]
    idx=str(streams.index(stream))
    data=json.loads(data)
    data={"age":data["age"], "age_conf":data["age_conf"], "gender":data["gender"], "gender_conf":data["gender_conf"]}
    if((idx+idn)in people_dict):

        if(data["age_conf"]>people_dict[idx+idn]["age_conf"]):
            people_dict[idx+idn]['age']=data["age"]
            people_dict[idx+idn]['age_conf']=data["age_conf"]
        if(data["gender_conf"]>people_dict[idx+idn]["gender_conf"]):
            people_dict[idx+idn]['gender']=data["gender"]
            people_dict[idx+idn]['gender_conf']=data["gender_conf"]
        
    else:
        people_dict[idx+idn]=data

In [70]:
gender_cat=['Male','Female','unknown']
age_cat=['0-2', '3-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69','70+']

In [71]:
d={}
for i in age_cat:
    d[i]={}
    for j in gender_cat:
        d[i][j]=0

In [72]:
for i in people_dict:
    d[people_dict[i]['age']][people_dict[i]['gender']]+=1

In [74]:
def demographics(df):
    z=df.to_dict()
    streams=list(set(z["stream"].values()))
    people_dict={}
    for i in z["metadata"]:
        data,idn,stream = [z["metadata"][i],str(z["tracking_id"][i]),z["stream"][i]]
        idx=str(streams.index(stream))
        data=json.loads(data)
        data={"age":data["age"], "age_conf":data["age_conf"], "gender":data["gender"], "gender_conf":data["gender_conf"]}
        if((idx+idn)in people_dict):

            if(data["age_conf"]>people_dict[idx+idn]["age_conf"]):
                people_dict[idx+idn]['age']=data["age"]
                people_dict[idx+idn]['age_conf']=data["age_conf"]
            if(data["gender_conf"]>people_dict[idx+idn]["gender_conf"]):
                people_dict[idx+idn]['gender']=data["gender"]
                people_dict[idx+idn]['gender_conf']=data["gender_conf"]
            
        else:
            people_dict[idx+idn]=data
    gender_cat=['Male','Female','unknown']
    age_cat=['0-2', '3-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69','70+']
    d={}
    for i in age_cat:
        d[i]={}
        for j in gender_cat:
            d[i][j]=0
    
    for i in people_dict:
        d[people_dict[i]['age']][people_dict[i]['gender']]+=1
    return d

In [76]:
demographics(df)

{'0-2': {'Male': 2, 'Female': 0, 'unknown': 0},
 '3-9': {'Male': 539, 'Female': 13, 'unknown': 6},
 '10-19': {'Male': 74, 'Female': 53, 'unknown': 17},
 '20-29': {'Male': 909, 'Female': 54, 'unknown': 18},
 '30-39': {'Male': 352, 'Female': 5, 'unknown': 2},
 '40-49': {'Male': 4, 'Female': 0, 'unknown': 0},
 '50-59': {'Male': 0, 'Female': 0, 'unknown': 0},
 '60-69': {'Male': 0, 'Female': 0, 'unknown': 0},
 '70+': {'Male': 3, 'Female': 4, 'unknown': 2}}

In [81]:
def demographics(dfs):
    gender_cat=['Male','Female','unknown']
    age_cat=['0-2', '3-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69','70+']
    demo={}
    for i in age_cat:
        demo[i]={}
        for j in gender_cat:
            demo[i][j]=0
    for df in dfs:
        z=df.to_dict()
        streams=list(set(z["stream"].values()))
        people_dict={}
        for i in z["metadata"]:
            data,idn,stream = [z["metadata"][i],str(z["tracking_id"][i]),z["stream"][i]]
            idx=str(streams.index(stream))
            data=json.loads(data)
            data={"age":data["age"], "age_conf":data["age_conf"], "gender":data["gender"], "gender_conf":data["gender_conf"]}
            if((idx+idn)in people_dict):

                if(data["age_conf"]>people_dict[idx+idn]["age_conf"]):
                    people_dict[idx+idn]['age']=data["age"]
                    people_dict[idx+idn]['age_conf']=data["age_conf"]
                if(data["gender_conf"]>people_dict[idx+idn]["gender_conf"]):
                    people_dict[idx+idn]['gender']=data["gender"]
                    people_dict[idx+idn]['gender_conf']=data["gender_conf"]
                
            else:
                people_dict[idx+idn]=data
        
        for i in people_dict:
            demo[people_dict[i]['age']][people_dict[i]['gender']]+=1
        
        demo["0-9"]={}
        for gen in gender_cat:
            demo["0-9"][gen]=demo["0-2"][gen]+demo["3-9"][gen]
        demo.pop("0-2")
        demo.pop("3-9")

    return demo

In [83]:
def data_tables(start_date_str,end_date_str):
    # Convert the input strings to datetime objects
    start_date = datetime.strptime(start_date_str, "%d-%m-%Y")
    end_date = datetime.strptime(end_date_str, "%d-%m-%Y")
    
    # Define a timedelta object with a one-day interval
    one_day = timedelta(days=1)

    #table list
    table_list=[]
    
    # Print the dates between the start and end dates
    current_date = start_date
    while current_date <= end_date:
        table_name="metatable"+current_date.strftime("%d%m%Y")
        #print(table_name+",")
        table_list.append(table_name)
        current_date += one_day
    return table_list

from_date="22-05-2023"
to_date="01-06-2023"

dfs=[]
for table_name in data_tables(from_date, to_date):
    dfs.append(pd.read_csv(table_name+'.csv'))

In [85]:
demographics(dfs)

{'0-2': {'Male': 122, 'Female': 7, 'unknown': 0},
 '3-9': {'Male': 4388, 'Female': 140, 'unknown': 23},
 '10-19': {'Male': 655, 'Female': 351, 'unknown': 66},
 '20-29': {'Male': 6339, 'Female': 424, 'unknown': 155},
 '30-39': {'Male': 2102, 'Female': 44, 'unknown': 26},
 '40-49': {'Male': 27, 'Female': 0, 'unknown': 4},
 '50-59': {'Male': 33, 'Female': 3, 'unknown': 0},
 '60-69': {'Male': 15, 'Female': 2, 'unknown': 1},
 '70+': {'Male': 5, 'Female': 4, 'unknown': 3}}

In [36]:
demog={
    "0-9": {
        "Female": 98,
        "Male": 1927,
        "unknown": 5
    },
    "10-19": {
        "Female": 16,
        "Male": 67,
        "unknown": 1
    },
    "20-29": {
        "Female": 71,
        "Male": 850,
        "unknown": 6
    },
    "30-39": {
        "Female": 20,
        "Male": 309,
        "unknown": 2
    },
    "40-49": {
        "Female": 0,
        "Male": 6,
        "unknown": 0
    },
    "50-59": {
        "Female": 3,
        "Male": 12,
        "unknown": 0
    },
    "60-69": {
        "Female": 2,
        "Male": 7,
        "unknown": 0
    },
    "70+": {
        "Female": 0,
        "Male": 0,
        "unknown": 0
    },

}

In [37]:
import pandas as pd

demog={i:",".join([str(j) for j in demog[i].values()]) for i in demog}
demog["date"]=""
demog["continent"]=0
demog["country"]=0
demog["region"]=0
demog["area"]=0
demog["store"]=0
demog["device"]=0
demog["camera"]=0
df=pd.DataFrame.from_dict({i:{0:demog[i]} for i in demog})

In [29]:
from datetime import datetime, timedelta
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
import json

def shop_enterance_filter(df,line_position=0.9):
    d={}
    for i in range(len(df)):
        z=df.loc[i]
        if(z['tracking_id'] in d):
            d[z['tracking_id']]=max([d[z['tracking_id']],json.loads(z['metadata'])['lower_Body_xyxyn'][3]])
        else:
            d[z['tracking_id']]=json.loads(z['metadata'])['lower_Body_xyxyn'][3]
    ids=[i for i in d if(d[i]>line_position)]
    df_f=df.loc[df['tracking_id'].isin(ids)]
    return df_f


def demographics(dfs, color_filter=None):
    gender_cat=['Male','Female','unknown']
    age_cat=['0-2', '3-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69','70+']
    #print(len(dfs))
    demo={}
    for i in age_cat:
        demo[i]={}
        for j in gender_cat:
            demo[i][j]=0
    for df in dfs:
        z=shop_enterance_filter(df=df).to_dict()
        streams=list(set(z["stream"].values()))
        people_dict={}
        for i in z["metadata"]:
            data,idn,stream = [z["metadata"][i],str(z["tracking_id"][i]),z["stream"][i]]
            idx=str(streams.index(stream))
            data=json.loads(data)
            if(data["upper_Body_Color"]==color_filter):
                continue
            data={"age":data["age"], "age_conf":data["age_conf"], "gender":data["gender"], "gender_conf":data["gender_conf"]}
            if((idx+idn)in people_dict):

                if(data["age_conf"]>people_dict[idx+idn]["age_conf"]):
                    people_dict[idx+idn]['age']=data["age"]
                    people_dict[idx+idn]['age_conf']=data["age_conf"]
                if(data["gender_conf"]>people_dict[idx+idn]["gender_conf"]):
                    people_dict[idx+idn]['gender']=data["gender"]
                    people_dict[idx+idn]['gender_conf']=data["gender_conf"]
                
            else:
                people_dict[idx+idn]=data
        
        for i in people_dict:
            demo[people_dict[i]['age']][people_dict[i]['gender']]+=1
        
    demo["0-9"]={}
    for gen in gender_cat:
        demo["0-9"][gen]=demo["0-2"][gen]+demo["3-9"][gen]
    demo.pop("0-2")
    demo.pop("3-9")

    return demo

def data_tables(start_date_str,end_date_str):
    # Convert the input strings to datetime objects
    start_date = datetime.strptime(start_date_str, "%d-%m-%Y")
    end_date = datetime.strptime(end_date_str, "%d-%m-%Y")
    
    # Define a timedelta object with a one-day interval
    one_day = timedelta(days=1)

    #table list
    table_list=[]
    dates=[]
    
    # Print the dates between the start and end dates
    current_date = start_date
    while current_date <= end_date:
        table_name="metatable"+current_date.strftime("%d%m%Y")
        #print(table_name+",")
        table_list.append(table_name)
        dates.append(current_date)
        current_date += one_day
    return zip(table_list,dates)

def get_db(dbname='pos',tablename='Heatmapstore', user="postgres", password='dummy', host='localhost', port=5432, date='', stime='', etime='', color=False):
    engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(user,password,host,port,dbname))
    with engine.connect() as conn:
        query='SELECT * FROM public.\"{}\"'.format(tablename)
        if((len(date)>0)and(len(stime)>0)and(len(etime)>0)):
            query+=' WHERE date=\'{}\' AND time >= {} AND time <= {}'.format(date,stime,etime)
        elif(type(date)==list):
            query+=' WHERE date>=\'{}\' AND date<=\'{}\' and color={}'.format(date[0],date[1],color)
        df=pd.read_sql_query(text(query),conn)
        #print(query)
    return df

def data_retiver_demo(sdate,edate, color):
    dfs=[]
    #print(data_tables(sdate, edate))
    for table_name,date in data_tables(sdate, edate):
        #print(table_name)
        dfs.append(get_db(dbname='pos', user="postgres", password='admin', host='localhost', port=5432,tablename=table_name))
    
    return demographics(dfs,color)

In [28]:
from tqdm import tqdm
demogs=[]
colors=["Green","none"] #"black","white","red","lime","blue","yellow","cyan","magenta","silver","gray","maroon","olive","green","purple","teal","navy"
for table_name,date in tqdm(data_tables("22-05-2023","05-06-2023"),desc="loading..."):
    for color in colors:
        demog=data_retiver_demo(date.strftime("%d-%m-%Y"),date.strftime("%d-%m-%Y"),color)
        demog={i:",".join([str(j) for j in demog[i].values()]) for i in demog}
        demog["date"]=date.strftime("%d-%m-%Y")
        demog["continent"]=0
        demog["country"]=0
        demog["region"]=0
        demog["area"]=0
        demog["store"]=0
        demog["device"]=0
        demog["camera"]=0
        if(color=="none"):
            demog["color"]=False
        else:
            demog["color"]=True
        demogs.append(demog)

loading...: 15it [02:41, 10.79s/it]

In [12]:
#from tqdm import tqdm
#demogs=[]
colors=["none"]
for table_name,date in tqdm(data_tables("22-05-2023","05-06-2023"),desc="loading..."):
    for color in colors:
        demog=data_retiver_demo(date.strftime("%d-%m-%Y"),date.strftime("%d-%m-%Y"),color)
        demog={i:",".join([str(j) for j in demog[i].values()]) for i in demog}
        demog["date"]=date.strftime("%d-%m-%Y")
        demog["continent"]=0
        demog["country"]=0
        demog["region"]=0
        demog["area"]=0
        demog["store"]=0
        demog["device"]=0
        demog["camera"]=0
        demog["color"]=color
        demogs.append(demog)

loading...: 15it [01:34,  6.31s/it]

In [30]:
demogs

[{'10-19': '0,0,0',
  '20-29': '0,0,0',
  '30-39': '0,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '0,0,0',
  'date': '22-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '0,0,0',
  '20-29': '0,0,0',
  '30-39': '0,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '0,0,0',
  'date': '22-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '0,0,0',
  '20-29': '0,0,0',
  '30-39': '0,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '1,1,0',
  'date': '23-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '0,0,0',
  '20-29': '0,0,0',
  '30-39': '0,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '1,1,0',
  'date': '23-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '5,3,0',
  '20-29': '64,3,1',
  '30-39': '33,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '101,9,1',
  'date': '24-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '5,3,0',
  '20-29': '64,3,1',
  '30-39': '33,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '101,9,1',
  'date': '24-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '2,2,0',
  '20-29': '53,3,1',
  '30-39': '12,2,1',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '156,5,0',
  'date': '25-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '2,2,0',
  '20-29': '51,3,1',
  '30-39': '12,2,1',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '158,5,0',
  'date': '25-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '9,0,0',
  '20-29': '111,4,0',
  '30-39': '36,1,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '262,11,0',
  'date': '26-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '9,0,0',
  '20-29': '111,4,0',
  '30-39': '36,1,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '262,11,0',
  'date': '26-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '8,3,0',
  '20-29': '129,7,0',
  '30-39': '58,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '343,19,1',
  'date': '27-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '8,3,0',
  '20-29': '129,7,0',
  '30-39': '58,0,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '343,19,1',
  'date': '27-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '3,1,0',
  '20-29': '102,3,0',
  '30-39': '32,4,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '238,17,0',
  'date': '28-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '3,1,0',
  '20-29': '102,3,0',
  '30-39': '32,4,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '238,17,0',
  'date': '28-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '4,2,0',
  '20-29': '168,9,2',
  '30-39': '60,3,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '437,20,2',
  'date': '29-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '4,2,0',
  '20-29': '168,9,2',
  '30-39': '60,3,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '437,20,2',
  'date': '29-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '11,0,1',
  '20-29': '85,7,2',
  '30-39': '41,2,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '182,5,0',
  'date': '30-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '11,0,1',
  '20-29': '86,7,2',
  '30-39': '41,1,0',
  '40-49': '0,0,0',
  '50-59': '0,0,0',
  '60-69': '0,0,0',
  '70+': '0,0,0',
  '0-9': '182,5,0',
  'date': '30-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '19,4,0',
  '20-29': '101,9,0',
  '30-39': '35,2,1',
  '40-49': '5,0,0',
  '50-59': '10,0,0',
  '60-69': '1,0,0',
  '70+': '0,0,0',
  '0-9': '183,5,1',
  'date': '31-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '19,4,0',
  '20-29': '102,9,0',
  '30-39': '34,2,1',
  '40-49': '5,0,0',
  '50-59': '10,0,0',
  '60-69': '1,0,0',
  '70+': '0,0,0',
  '0-9': '183,5,1',
  'date': '31-05-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '6,1,0',
  '20-29': '37,26,0',
  '30-39': '3,7,0',
  '40-49': '1,0,0',
  '50-59': '2,3,0',
  '60-69': '6,2,0',
  '70+': '0,0,0',
  '0-9': '22,6,0',
  'date': '01-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '6,1,0',
  '20-29': '37,26,0',
  '30-39': '3,7,0',
  '40-49': '1,0,0',
  '50-59': '2,3,0',
  '60-69': '6,2,0',
  '70+': '0,0,0',
  '0-9': '22,6,0',
  'date': '01-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '23,6,0',
  '20-29': '126,50,1',
  '30-39': '37,7,0',
  '40-49': '3,0,0',
  '50-59': '4,0,0',
  '60-69': '11,1,0',
  '70+': '3,0,0',
  '0-9': '77,12,0',
  'date': '02-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '23,6,0',
  '20-29': '125,50,1',
  '30-39': '37,7,0',
  '40-49': '3,0,0',
  '50-59': '4,0,0',
  '60-69': '11,1,0',
  '70+': '3,0,0',
  '0-9': '78,12,0',
  'date': '02-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '19,4,1',
  '20-29': '242,89,1',
  '30-39': '124,14,0',
  '40-49': '8,1,0',
  '50-59': '29,1,0',
  '60-69': '13,3,0',
  '70+': '0,0,0',
  '0-9': '80,11,1',
  'date': '03-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '19,4,1',
  '20-29': '242,89,1',
  '30-39': '124,14,0',
  '40-49': '8,1,0',
  '50-59': '29,1,0',
  '60-69': '13,3,0',
  '70+': '0,0,0',
  '0-9': '80,11,1',
  'date': '03-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '14,8,0',
  '20-29': '247,49,3',
  '30-39': '104,12,0',
  '40-49': '7,1,0',
  '50-59': '18,0,0',
  '60-69': '16,0,0',
  '70+': '0,0,0',
  '0-9': '70,1,0',
  'date': '04-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '14,8,0',
  '20-29': '247,49,3',
  '30-39': '104,12,0',
  '40-49': '7,1,0',
  '50-59': '18,0,0',
  '60-69': '16,0,0',
  '70+': '0,0,0',
  '0-9': '70,1,0',
  'date': '04-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False},
 {'10-19': '3,2,0',
  '20-29': '151,46,1',
  '30-39': '53,4,1',
  '40-49': '7,3,0',
  '50-59': '11,1,0',
  '60-69': '20,1,0',
  '70+': '4,0,0',
  '0-9': '55,6,0',
  'date': '05-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': True},
 {'10-19': '3,2,0',
  '20-29': '150,46,1',
  '30-39': '53,4,1',
  '40-49': '7,3,0',
  '50-59': '11,1,0',
  '60-69': '20,1,0',
  '70+': '4,0,0',
  '0-9': '56,6,0',
  'date': '05-06-2023',
  'continent': 0,
  'country': 0,
  'region': 0,
  'area': 0,
  'store': 0,
  'device': 0,
  'camera': 0,
  'color': False}]

In [33]:
df=pd.DataFrame.from_dict(demogs)

In [34]:
df # m,f,u

,10-19,20-29,30-39,40-49,50-59,60-69,70+,0-9,date,continent,country,region,area,store,device,camera,color
0,"0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0",22-05-2023,0,0,0,0,0,0,0,True
1,"0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0",22-05-2023,0,0,0,0,0,0,0,False
2,"0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","1,1,0",23-05-2023,0,0,0,0,0,0,0,True
3,"0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","0,0,0","1,1,0",23-05-2023,0,0,0,0,0,0,0,False
4,"5,3,0","64,3,1","33,0,0","0,0,0","0,0,0","0,0,0","0,0,0","101,9,1",24-05-2023,0,0,0,0,0,0,0,True
5,"5,3,0","64,3,1","33,0,0","0,0,0","0,0,0","0,0,0","0,0,0","101,9,1",24-05-2023,0,0,0,0,0,0,0,False
6,"2,2,0","53,3,1","12,2,1","0,0,0","0,0,0","0,0,0","0,0,0","156,5,0",25-05-2023,0,0,0,0,0,0,0,True
7,"2,2,0","51,3,1","12,2,1","0,0,0","0,0,0","0,0,0","0,0,0","158,5,0",25-05-2023,0,0,0,0,0,0,0,False
8,"9,0,0","111,4,0","36,1,0","0,0,0","0,0,0","0,0,0","0,0,0","262,11,0",26-05-2023,0,0,0,0,0,0,0,True
9,"9,0,0","111,4,0","36,1,0","0,0,0","0,0,0","0,0,0","0,0,0","262,11,0",26-05-2023,0,0,0,0,0,0,0,False
10,"8,3,0","129,7,0","58,0,0","0,0,0","0,0,0","0,0,0","0,0,0","343,19,1",27-05-2023,0,0,0,0,0,0,0,True
11,"8,3,0","129,7,0","58,0,0","0,0,0","0,0,0","0,0,0","0,0,0","343,19,1",27-05-2023,0,0,0,0,0,0,0,False
12,"3,1,0","102,3,0","32,4,0","0,0,0","0,0,0","0,0,0","0,0,0","238,17,0",28-05-2023,0,0,0,0,0,0,0,True
13,"3,1,0","102,3,0","32,4,0","0,0,0","0,0,0","0,0,0","0,0,0","238,17,0",28-05-2023,0,0,0,0,0,0,0,False
14,"4,2,0","168,9,2","60,3,0","0,0,0","0,0,0","0,0,0","0,0,0","437,20,2",29-05-2023,0,0,0,0,0,0,0,True
15,"4,2,0","168,9,2","60,3,0","0,0,0","0,0,0","0,0,0","0,0,0","437,20,2",29-05-2023,0,0,0,0,0,0,0,False
16,"11,0,1","85,7,2","41,2,0","0,0,0","0,0,0","0,0,0","0,0,0","182,5,0",30-05-2023,0,0,0,0,0,0,0,True
17,"11,0,1","86,7,2","41,1,0","0,0,0","0,0,0","0,0,0","0,0,0","182,5,0",30-05-2023,0,0,0,0,0,0,0,False
18,"19,4,0","101,9,0","35,2,1","5,0,0","10,0,0","1,0,0","0,0,0","183,5,1",31-05-2023,0,0,0,0,0,0,0,True
19,"19,4,0","102,9,0","34,2,1","5,0,0","10,0,0","1,0,0","0,0,0","183,5,1",31-05-2023,0,0,0,0,0,0,0,False
20,"6,1,0","37,26,0","3,7,0","1,0,0","2,3,0","6,2,0","0,0,0","22,6,0",01-06-2023,0,0,0,0,0,0,0,True
21,"6,1,0","37,26,0","3,7,0","1,0,0","2,3,0","6,2,0","0,0,0","22,6,0",01-06-2023,0,0,0,0,0,0,0,False
22,"23,6,0","126,50,1","37,7,0","3,0,0","4,0,0","11,1,0","3,0,0","77,12,0",02-06-2023,0,0,0,0,0,0,0,True
23,"23,6,0","125,50,1","37,7,0","3,0,0","4,0,0","11,1,0","3,0,0","78,12,0",02-06-2023,0,0,0,0,0,0,0,False
24,"19,4,1","242,89,1","124,14,0","8,1,0","29,1,0","13,3,0","0,0,0","80,11,1",03-06-2023,0,0,0,0,0,0,0,True
25,"19,4,1","242,89,1","124,14,0","8,1,0","29,1,0","13,3,0","0,0,0","80,11,1",03-06-2023,0,0,0,0,0,0,0,False
26,"14,8,0","247,49,3","104,12,0","7,1,0","18,0,0","16,0,0","0,0,0","70,1,0",04-06-2023,0,0,0,0,0,0,0,True
27,"14,8,0","247,49,3","104,12,0","7,1,0","18,0,0","16,0,0","0,0,0","70,1,0",04-06-2023,0,0,0,0,0,0,0,False
28,"3,2,0","151,46,1","53,4,1","7,3,0","11,1,0","20,1,0","4,0,0","55,6,0",05-06-2023,0,0,0,0,0,0,0,True
29,"3,2,0","150,46,1","53,4,1","7,3,0","11,1,0","20,1,0","4,0,0","56,6,0",05-06-2023,0,0,0,0,0,0,0,False

In [35]:
import psycopg2 as ps

def storing(data2,fl):
    #fl ='Heatmapstore1'
    conn = ps.connect("host=localhost port=5432  dbname=pos user=postgres password=admin")
    print("Connecting to Database")
    cur=conn.cursor()
    engine = create_engine('postgresql://postgres:admin@localhost:5432/pos')
    data2.to_sql(fl,con = engine, if_exists= "append",index=False)

In [36]:
df['date']=pd.to_datetime(df['date'])

/tmp/ipykernel_68821/1213281828.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date']=pd.to_datetime(df['date'])

In [37]:
storing(df,"demographics")

Connecting to Database

In [40]:
df_new=get_db(dbname='pos', user="postgres", password='admin', host='localhost', port=5432,tablename="demographics",date=["2023-06-01","2023-06-05"],color=False)

In [41]:
df_new

,10-19,20-29,30-39,40-49,50-59,60-69,70+,0-9,date,continent,country,region,area,store,device,camera,color
0,"6,1,0","37,26,0","3,7,0","1,0,0","2,3,0","6,2,0","0,0,0","22,6,0",2023-06-01,0,0,0,0,0,0,0,False
1,"23,6,0","125,50,1","37,7,0","3,0,0","4,0,0","11,1,0","3,0,0","78,12,0",2023-06-02,0,0,0,0,0,0,0,False
2,"19,4,1","242,89,1","124,14,0","8,1,0","29,1,0","13,3,0","0,0,0","80,11,1",2023-06-03,0,0,0,0,0,0,0,False
3,"14,8,0","247,49,3","104,12,0","7,1,0","18,0,0","16,0,0","0,0,0","70,1,0",2023-06-04,0,0,0,0,0,0,0,False
4,"3,2,0","150,46,1","53,4,1","7,3,0","11,1,0","20,1,0","4,0,0","56,6,0",2023-06-05,0,0,0,0,0,0,0,False

In [98]:
df_new.to_dict().keys()

dict_keys(['10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70+', '0-9', 'date', 'continent', 'country', 'region', 'area', 'store', 'device', 'camera'])

In [108]:

datetime.strptime("01-06-2023", "%d-%m-%Y").strftime("%Y-%m-%d")

'2023-06-01'

In [104]:
dfd2

{'10-19': {'Male': 3, 'Female': 2, 'unknown': 0},
 '20-29': {'Male': 150, 'Female': 46, 'unknown': 1},
 '30-39': {'Male': 53, 'Female': 4, 'unknown': 1},
 '40-49': {'Male': 7, 'Female': 3, 'unknown': 0},
 '50-59': {'Male': 11, 'Female': 1, 'unknown': 0},
 '60-69': {'Male': 20, 'Female': 1, 'unknown': 0},
 '70+': {'Male': 4, 'Female': 0, 'unknown': 0},
 '0-9': {'Male': 56, 'Female': 6, 'unknown': 0}}

In [105]:
def demographics_sorter(df):
    dfd=df.to_dict()
    dfd2={}
    for i in ['10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70+', '0-9']:
        gen={"Male":0,"Female":0,"unknown":0}
        for j in dfd[i]:
            liz=[int(k) for k in dfd[i][j].split(",")]
            for x,y in zip(gen,liz):
                gen[x]=y
        dfd2[i]=gen
    return dfd2

In [106]:
demographics_sorter(df_new)

{'10-19': {'Male': 3, 'Female': 2, 'unknown': 0},
 '20-29': {'Male': 150, 'Female': 46, 'unknown': 1},
 '30-39': {'Male': 53, 'Female': 4, 'unknown': 1},
 '40-49': {'Male': 7, 'Female': 3, 'unknown': 0},
 '50-59': {'Male': 11, 'Female': 1, 'unknown': 0},
 '60-69': {'Male': 20, 'Female': 1, 'unknown': 0},
 '70+': {'Male': 4, 'Female': 0, 'unknown': 0},
 '0-9': {'Male': 56, 'Female': 6, 'unknown': 0}}